<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
{% extends "index.html" %}
{% block content %}
    <div class="images-section">
        <h2>最新图片</h2>
        {% for image in images %}
            <div class="image">
                <h4>{{ image.title }}</h4>
                <img src="{{ image.image.url }}" alt="{{ image.title }}">
                <small>{{ image.uploaded_at }}</small>
            </div>
        {% endfor %}
    </div>
{% endblock %}
</body>
</html>