{% load static %}
<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/travel.css' %}">
    <link rel="stylesheet" href="{% static 'css/Reset.css' %}">
    <link rel="icon" href="../media/log/favicon.ico">
    <title>{{travel.title}}</title>
</head>
<body>
        <div class="travel">
        <!-- 头部区域 -->
        <header class="header">
            <h1 class="title glow">{{travel.title}}</h1>
            <div class="meta">
                <span>{{ travel.publish_time }}</span>
                <span>阅读：{{ travel.views }}</span>
            </div>
        </header>

        <!-- 封面图片 -->
        <div class="travel-image">
            <img src="{{ travel.image.url}}" alt="{{travel.title}}">
        </div>
        <!-- 文章内容 -->
        <main class="description">
            {{travel.description | safe }}
        </main>

        <!-- 返回按钮 -->
        <div class="back-button">
            <a href="#" onclick="history.back()">返回</a>
        </div>
    </div>
</body>
</html>